<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
{% if username %}
{{ username }}
{% else %}
没有用户名
{% endif %}
<ul>
    {% for i in books %}
    <!--        {% if forloop.counter == 1 %}-->
    <!--        <li style="background-color: beige">{{ forloop.counter }}<a href="/booktest/detail/{{ i.id }}/">{{ i.title }}</a></li>-->
    <!--        {% else %}-->
        <li>{{ forloop.counter }}<a href="{% url 'booktest:detail' i.id %}">{{ i.title }}</a><a href="{% url 'booktest:deletebook' i.id %}">删除</a></li>
    <!--        {% endif %}-->
    {% empty %}
        没有书籍
    {% endfor %}
</ul>
<br><a href="{% url 'booktest:index' %}">返回首页</a>
</body>
</html>