{% extends 'test/base.html' %}
{% block title %}登录/注册{% endblock %}
{% block body %}
    {% comment %}
<!--    <form action="{% url 'vote:login' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--            <label for="username">帐号</label>-->
<!--            <input name="username" type="text" class="form-control" id="username" placeholder="请输入帐号">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input name="password" type="password" class="form-control" id="password" placeholder="请输入密码">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-default">登录</button>-->
<!--    </form>-->

<!--<br><br><br><br><br><br><br><br><br><br>-->
<!--    <form action="{% url 'vote:login' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--            {{ lf }}-->
<!--        <button type="submit" class="btn btn-default">登录</button>-->
<!--    </form>-->
    {% endcomment %}
    <h3>{{ errormessage }}</h3>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#login" aria-controls="home" role="tab" data-toggle="tab">登录</a></li>
        <li role="presentation"><a href="#regist" aria-controls="profile" role="tab" data-toggle="tab">注册</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login">
            <form action="{% url 'vote:login' %}" method="post">
                {% csrf_token %}
                <div id="error_info"></div>
                {{ lf }}
            <input type="submit" value="登录">
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="regist">
            <form action="{% url 'vote:regist' %}" method="post">
                {% csrf_token %}

                {{ rf }}
                <input type="submit" value="注册">
            </form>
        </div>
      </div>

    </div>


<script>
    $(function() {
        $('#id_username').blur(function () {
            $.ajax({
                type:'get',
                url:'/vote/check_my_username/?username='+$('#id_username').val(),
                success:function (data) {
                    if (data['statecode'] == 0) {
                        console.log(data);
                        $('#error_info').text(data['error'])
                    }
                }
            })
        })
    })
</script>

{% endblock %}
