{% extends 'pet/base.html' %}
{% load my_tag %}
{% block title %}About{% endblock %}
{% block link %}
	<script src="/static/js/responsiveslides.min.js"></script>
{% endblock %}
{% block body %}
	<div class="content">
		<!--about-->
		<div class="main">
			<div class="container">
				<div class="about-top">
					<div class="about-top-info">

							{% my_about as about %}
							{% for a in about %}
							{% if a.title == '我们是谁' %}
							<h3>{{ a.title }}</h3>
							<div class="col-md-4 about-img">
								<img src="/static/media/{{ a.pic }}" alt=""/>
							</div>
							<div class="col-md-8 about-desc">
								<p>{{ a.body }}</p>
							</div>

							<div class="clearfix"> </div>
					</div>
			</div>
			<div class="about-bottom">
						<div class="about-topgrid1">
							{% else %}
							<h3>{{ a.title }}</h3>
					<div class="col-md-8 about-bottom-info">
							   <h5>我们很开心，很快乐，为了成为狗托~</h5>
							   <p>{{ a.body }}</p>
					</div>
						<div class="col-md-4 about-bottom-info-right">
						 <img src="/static/media/{{ a.pic }}" alt="" />
							{% endif %}
							{% endfor %}
						 </div>
						 <div class="clearfix"> </div>
					</div>
					</div>
					 <div class="clearfix"> </div>
				</div>
				</div>
				<div class="aboutus">
					<div class="container">
						<div class="about-bottom-info">
							{% my_hint_tag as hint_tag %}
							{% for h in hint_tag %}
							<div class="col-md-4 about-left">
						<div class="check-in">
							<img src="/static/media/{{ h.pic }}" alt=""/>
						</div>
						<div class="check-out">
							<p>{{ h.hint }}</p>
						</div>
						<div class="clearfix"> </div>
							</div>
							{% endfor %}
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
